*{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    max-width: 1800px;
}

.header-nav{
    position: relative;
    top: 0;
    left: 0;
    padding-top: 1.5%;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.3s ease; 
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /*width: 100%;
    z-index: 1000;*/
}

.bg-dark {
   background-color: rgba(0, 0, 0, 0.3) !important; 
}

.bg-dark-dark{
	background-color: rgba(0, 0, 0) !important; 
}
.nav-options{
    list-style: none;
}

.nav-options li{
    display: inline-block;
    padding: 0 2%;
}

.nav-options li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.nav-icon{
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 35px;
}

.nav-icon button{
	background-color:rgba(255, 0, 0, 0);
	border: none;
}

.nav-icon button:focus,
.nav-icon button:active,
.nav-icon button:hover{
	background-color:rgba(255, 0, 0, 0);
	border: none !important;
	outline: none !important; 
    box-shadow: none !important;
}

.dropdown-menu{
	background-color: rgb(68, 61, 60 ) ;
	padding: 8px;
}

.dropdown-menu li{
	padding: 5px !important;
}

.dropdown-menu li a{
	text-decoration: none;
	color: #ffffff;
}

/*SECTION*/

section{
    width: 100%;
    height: 100%;
}

.presentation{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    margin-bottom: 175px;
}

.title{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2 !important;
    color: #ffffff;
}

.title h1{
    font-size: 50px;
}

.subtitle{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, 60%);
    z-index: 2;
    color: #ffffff;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(109, 105, 105);
    opacity: 0.5;
    mix-blend-mode: overlay;

}

/*----*/

.places{
    width: 100%;
    display: flex;
    padding: 0px 20px;
    margin-bottom: 5px;
}


.tourist-place{
    position: relative;
    font-size: 15px;
    padding: 1.5%;
}

.tourist-place img{
    width: 100%;
    height: 375px;
    border-radius: 5px;
}

.tourist-place img:hover{
  	cursor: pointer;
}

.place-information{
    position: absolute;
    margin-right: 25%;
    top: 50%;
    left: 5;
    display: flex;
}

.place-information ul li{
    list-style: none;
    color: rgb(252, 240, 240);
}

.like{
    margin: 10px;
    font-size: 14px;
    position: relative;
}


.likee{
    position: absolute;
    top: -6%;
    left: 8%;
    color:rgb(0, 0, 0);
    font-weight: 1px;
}

.text-box{
    padding: 5px;
    text-align: center;
    visibility: hidden;
}

.text-box textarea{
    padding: 5px;
    resize: none;
    color: black;
    background-color: rgba(138, 135, 135, 0.103);
}


.modal-dialog{
    max-width: 1300px;
    max-height: 100vh; 
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
}

.modal-body{
    width: 100%;
 	margin: 0;
    padding: 0;
    font-size: 16px;
}

.comment-img{
    width: 50%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.comment-img i{
	position: absolute ;
	top: 50%;
	font-size: 20px;
	color: rgb(0, 0, 0, 0.5);
	margin: -15px 20px 0;
	border: 2px solid none ;
	border-radius: 50%;
	padding: 7px 10px;
	background-color:rgb(255, 255, 255, 0.5) ;
}

.comment-img i:last-child{
	padding: 7px 12px 7px 10px !important;
}

#last-child{
	right: 0;
	padding-right: 5px;
}

.comment-img i:hover{
	cursor: pointer;
}

.comment-img img{
    opacity: 1;
    width: 100%; 
    height: 780px;
    border-radius: 0;
    object-fit: cover;
}

.comment-img img:hover{
 	cursor: default;
 }
 
#mini-img{
    opacity: 1;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#mini-img:hover{
    cursor: default;
}

.description p{
	margin: 0px 60px;
}

.comment-section{
    border-left: 0.2px solid rgba(0, 0, 0, 0.418);
    padding: 10px;
    width: 50%;
}


.comment-modal{
	padding: 20px;
	width: 48%;
	bottom: 10px;
	position: absolute;
	display: inline-block;
	border-top: 1px solid rgb(192, 192, 192);
}

.comment-modal input{
	border: none;
	background-color: transparent;
	font-size: 18px;
	color: black;
}

.comment-modal input:hover,
.comment-modal input:focus,
.comment-modal input:active{
	background-color:rgba(255, 0, 0, 0);
	border: none !important;
	outline: none !important; 
    box-shadow: none !important;
}

.comment-modal input:nth-child(2){
	width: 85% !important;
}

.comment-modal input:last-child{
	color: blue
}

.comments-modal{
	height: 380px;
	overflow: auto;
}

.comments-modal p{
	margin: 0px 60px;
}

.comments-modal .incomment{
	margin: 10px 0px;
}

.reaction-modal{
	width: 48%;
	position: absolute;
	bottom: 100px;
	padding: 30px 10px 0px;
	border-top: 1px solid rgb(192, 192, 192);
}

.actions-re{
	margin-bottom: 10px;
}

.actions-re i{
	font-size: 35px;
}

.actions-re i:hover{
	cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer; 
    font-size: 40px;
}

.modamodal{
	width: 100%;
	position: relative;
}

.mosec{
	width: 35%;
}

.comment-per{
	margin: 20px;
}

.comment-per input{
	padding: 7px;
	width: 100%;
	font-size: 18px;
}
@media (max-width: 768px) {
    .places {
        flex-direction: column;
        padding: 0;
    }

    .tourist-place {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .tourist-place img {
        height: auto; 
    }

    .place-information {
        position: absolute; 
        margin-right: 0; 
        top: 77%; 
        left: 5; 
        display: block; 
    }

    .comment-img img{
        opacity: 1;
        width: 330px;
    }
}