  <!DOCTYPE html>
  <html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" th:href="@{/css/login.css}">
  </head>
  <body>
	  <form class="login" th:action="@{/user/login}" method="POST">
		  <div class="name"><h3>REVIEW DATA COLLECTOR</h3></div>
		<label>Usuario</label>
	  	<input type="text" name="username" placeholder="Username">
	  	<label>Contraseña</label>
	  	<input type="password" name="userpassword" placeholder="Password">
	 	<button type="submit">Login</button>
	  </form>
  </body>
</html>

