<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script src="https://kit.fontawesome.com/8ff637b780.js" crossorigin="anonymous"></script>

    <!-- JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="contenedor container-lg container-md">
        <header>
            <nav class="header-nav" id="navbar">
                <ul class="nav-options">
                    <li><a href="#">Review</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
                <div class="nav-icon">
			      	<div class="btn-group dropstart">
					  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					   <i class="fa-regular fa-user" style="color: #ffffff;"></i>
					  </button>
					  <ul class="dropdown-menu">
					    <li th:unless="${usuario != null}"><a th:href="@{/user/login}">Iniciar sesión</a></li>
					    <li th:if="${usuario != null}"><a href="/user/register">Ver cuenta</a></li>
					    <li th:if="${usuario != null}"><a th:href="@{/user/logout}">Cerrar sesión</a></li>
					  </ul>
					</div>

			    </div>
            </nav>
        </header>
        <section>
            <div class="presentation">
                <div class="title">
                    <h1>HUNT, WATCH & READ</h1>
                </div>
                <div class="subtitle">
                    <h4>YOUR TRIP TO CUSCO, OUR PURPOSE</h4>
                </div>
            </div>
            <video muted autoplay loop> 
                <source th:src="@{/videos/fondo-cusco.mp4}" type="video/mp4">
            </video>
            <div class="cover">
            </div>
        </section>
        <section>
            <div  style="margin-right: 0;">
                <div class="places col-md-12">
				  <div class="row">
					<!--INICIO BLOQUE-->
                    <div th:each="d, iterStat: ${list_interaccion}" class="tourist-place col-md-3" th:onmouseover="comment([[${iterStat.index}]]);" th:onmouseout="noncomment([[${iterStat.index}]]);">
                        <div class="info_place">
							<input type="hidden" class="cldestino" id="iddestino" name="destinoValue" th:value="${d.destino.placeId}">
                            <img id="imgdestino" th:src="@{/imagenes/} + ${d.destino.imagen}" alt="No se encontró la imagen" th:onclick="openPopup([[${iterStat.index}]])"> 
                            <div class="place-information">
                                <ul>
                                    <li>MSNM: <span th:text="${d.destino.msnm}"></span></li>  
                                    <li>Dificultad: <span th:text="${d.destino.dificultad}"></span></li>
                                    <li>Consideraciones: <span th:text="${d.destino.consideraciones}"></span></li>
                                </ul>
                            </div>
                            <div class="like">
                                <div>
									<i class="far fa-heart fa-sm" style="color: rgb(0, 0, 0); font-size: 20px; margin-right: 5px;" th:onclick="likesIncrement()"></i><p class="likee"><span id="number-likes" th:text="${d.likes}"></span> Me gusta</p>
								</div>
                            </div>
                            <div class="comment-box" >
                                <form id="commentForm" action="#" method="post">
                                    <div class="text-box">
                                        <textarea class="col-md-12" id="commentContent" name="commentContent" rows="1" placeholder="Comenta"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal" th:id="'myModal' + ${iterStat.index}" data-bs-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    
                                        <div class="modal-content">
                                            
                                            <div class="modal-body row mt-6 mb-8 row-cols-md-6" >
                                                <section class="comment-img" th:data-imagen-principal="${d.destino.imagen}">
													<span><i class="fa-solid fa-angle-left" th:onclick="'changeImgL(' + ${iterStat.index} + ')'"></i></span>
                                                    <img id="img-comment" th:src="@{/imagenes/} + ${d.destino.imagen}" alt="Imagen no disponible">
                                                	<span><i id="last-child" class="fa-solid fa-angle-right" th:onclick="'changeImgL(' + ${iterStat.index} + ')'"></i></span>
                                                </section>
                                                <aside class="comment-section">
													<div class="place-name">
														<img id="mini-img" th:src="@{/imagenes/} + ${d.destino.imagen}">
														<strong th:text="${d.destino.touristPlace}"></strong>
													</div>
													<hr>
                                                    <div class="description">
														<img id="mini-img" th:src="@{/imagenes/} + ${d.destino.imagen}">
														<strong th:text="${d.destino.touristPlace}"></strong>
                                                        <p th:text="${d.destino.description}"></p>
                                                    </div>
                                                    <div class="comments-modal">
														<div class="incomment" th:each="c: ${list_comments}">
															<div th:if="${c.IdDestino.placeId == d.destino.placeId} ">
																<div>
																	<img id="mini-img" th:src="@{/imagenes/} + ${c.user != null ? c.user.userimage : 'user-no-photo.png'}" alt="Imagen no encontrada">
                													<strong th:text="${c.user != null ? c.user.username : c.username}"></strong>
													                <p th:text="${c.comentario}"></p>
																</div>
															</div>
														</div>
													</div>
													<div>
													<div class="reaction-modal">
														
														<div class="actions-re">
															<input type="hidden" class="cldestino" id="iddestino" name="destinoValue" th:value="${d.destino.placeId}">
															<i class="far fa-heart fa-sm like" style="color: rgb(0, 0, 0); margin-right: 20px;"></i> 															
															<i class="far fa-comment fa-sm" style="color: rgb(0, 0, 0); margin-right: 20px;"></i>
														</div>
														<strong id="number-likes" th:text="${d.likes} + ' Me gusta'"> </strong>
													</div>
													
													<div class="comment-modal">
														<form th:id="'form_comment' + ${iterStat.index}"  >
															<input type="hidden" name="placeId" th:value="${d.destino.placeId}">
															<input type="text" id="comment_input" class="comment" name="comentario" placeholder="Añade un comentario..." pattern="\\S+" required>
        													<input  class="submitcomment" type="button" value="Publicar" >

														</form>
														
													</div>
                                                </aside>
                                            </div>
                                            
                                        </div>
                                    
                                </div>
                                <div><i class="fas fa-times-square close-icon" style="color: #ffffff; background-color: #000000;" data-bs-dismiss="modal"></i></div>
                                <!--<div><i class="fas fa-times close-icon" style="color: #ffffff;" data-bs-dismiss="modal"></i></div>-->
                                
                            </div>
                        </div>
                    </div> 
                  </div>
                    <!-- FIN BLOQUE -->
                    <!-- MODAL SECUNDARIO -->
                    <div class="modal fade modalmodal" id="myModaal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 2000;">
					  <div class="modal-dialog modal-dialog-centered mosec">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Publicar como</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
							 <form class="comment-per">
					         	<input type="text" class="username" name="username" placeholder="¿Cómo te gustaría que te llamemos?">
					     		<button type="button" class="submitusername" data-bs-dismiss="modal">Guardar</button>

					         </form>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary">Iniciar sesion</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- FIN MODAL SECUNDARIO -->
                </div> 
            </div>        
        </section>
    </div>
</body>
<script th:src="@{/js/index.js}"></script>

</html>